:root {
  --primaryColor: #DDA15E;
  --borderColor: #b28047;
  --secondaryColor: #eee;
  --primary-texture: url('/images/dark-wood.png');
  --background-texture: url('/images/tileable-wood-colored.png');
  --background-color: #D7B98E ;
  --paper-color: #fffdf2;
  --paper-texture: url('/images/notebook-dark.png');
  --nail-texture: url('/images/iron-nail.png');
  }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  
  padding: 0;
  overflow-x: hidden;
}