.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px;
  margin: 0px;
  background-color: var(--background-color);
  background-image: var(--background-texture);
  height: 100vh;

}

.owl{
  width: 20%;  
  display: inline;
}

.inner-content{

  height: 100%;
  margin: 0px;
  padding: 10px;
  margin-top: -18px;
 
}



note-section {
  display: block;
}

.create-note {
  display: flex;
  justify-content: center;
  width:100%;
}